<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Publicaciones</title>
	<link rel="stylesheet" href="..\source\bootstrap\css\bootstrap.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<header>
		<nav class="navbar justify-content-end" style="background-color: #ffce0a;">
			<a class="navbar-item" href="#"><img src="..\icons\navBarTwo\home.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Inicio"></a>

			<a class="navbar-item" href="#"><img src="..\icons\navBarTwo\user.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Perfil de Usuario"></a>

			<a class="navbar-item" href="#"><img src="..\icons\navBarTwo\contact.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Contacto"></a>
			
			<a class="navbar-item" href="#"><img src="..\icons\navBarTwo\rocket-to-rusia.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Salir"></a>

		</nav>
	</header>


	<section>
		<article>
			<form>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Seleccione la habilidad: </label>
					<select class="form-control" id="exampleFormControlSelect1">
						<option>Electricidad</option>
						<option>Plomeria</option>
						<option>Jardineria</option>
						<option>Carpinteria</option>
						<option>Albanileria</option>
					</select>
				</div>


				<div class="form-group">
					<label for="exampleFormControlTextarea1">Example textarea</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>


			<div class="list-group">
				<label>Publicaciones Activas</label>
				<a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
				<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
				<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
				<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
				<a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
			</div>




		</article>

		<article>

		</article>
	</section>


	<footer>
		<section id="footer">
			<div class="container">
				<div class="row text-center">
					<div>
						<h5>Links Rapidos</h5>
						<ul class="list-unstyled">
							<li><a href="#"></a>Inicio</li>
							<li><a href="#"></a>Usuario</li>
							<li><a href="#"></a>Salir</li>
						</ul>
					</div>
					<br>
					<div>
						<h5>Redes Sociales</h5>
						<li class="list-inline-item"><a href="#"><img src="icons\footerSocialMedia\instagram-logo.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Instagram"></a>Instagram</li>
						<br>
						<li class="list-inline-item"><a href="#"><img src="icons\footerSocialMedia\at.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Instagram"></a>Mail</li>
					</div>


				</div>
				<!-- Copyright -->
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
					<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
				</div>
				<!-- Copyright -->
			</div>
		</section>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>





</html>