<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Recuperacion de Contrasena</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CDN de Boostrap 4.0 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Hoja de estilos personalizada -->
    <link rel="stylesheet" href="..\..\static\css\styles.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light nav-bar-own">
			<div class="d-flex align-items-center mx-auto">
				<a href="/"><img src="..\..\static\img\logo.jpeg" width="80 px" height="80 px"></a>
				<img src="..\..\static\img\name.jpeg" width="200 px" height="80 px">
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#theNav" aria-controls="theNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		</nav>
	</header>






	<footer>
		<section id="footer">
			<div class="container">
				<div class="row text-center space-between-elements">
					<div>
						<h5>Links Rapidos</h5>
						<ul class="list-unstyled">
							<li><a href="..\index.html"></a>Inicio</li>
							<li><a href="#"></a>Usuario</li>
							<li><a href="#"></a>Salir</li>
						</ul>
					</div>
					<div class="list-unstyled list-inline-item ">
						<h5>Redes Sociales</h5>
						<ul class="social-network-list">
							<li class="social-network-list-item"><a href="#"><img src="..\..\static\icons\footerSocialMedia\instagram-logo.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Instagram"></a></li>
							<li class="social-network-list-item"><a href="#"><img src="..\..\static\icons\footerSocialMedia\at.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Instagram"></a></li>
						</ul>
					</div>
				</div>
				<!-- Copyright -->
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
					<a href="#"> Plumerillo 2019</a>
				</div>
				<!-- ./ Copyright -->
			</div>
		</section>
	</footer>
</body>
</html>