<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Recuperacion de Contrasena</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css">
	<script src="main.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-light justify-content-end" style="background-color: #ffce0a;">
			<a class="navbar-brand" href="#">
							<img src="icons\navBarTwo\home.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Inicio"></a>
			<a class="navbar-logo" href="#">
							<img src="icons\navBarTwo\user.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Perfil de Usuario"></a>
			<a class="navbar-brand" href="#">
							<img src="icons\navBarTwo\rocket-to-rusia.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Salir"></a>
		</nav>
			<p class="text-lowercase">Recuperador de contraseña</p>
			<p class="text-uppercase">Uppercased text.</p>
			<p class="text-capitalize">CapiTaliZed text.</p>
			<p class="text-monospace">This is in monospace</p>
			<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
	</header>




	<footer>
		<section id="footer">
			<div class="container">
				<div class="row text-center space-between-elements">
					<div>
						<h5>Links Rapidos</h5>
						<ul class="list-unstyled">
							<li><a href="..\index.html"></a>Inicio</li>
							<li><a href="#"></a>Usuario</li>
							<li><a href="#"></a>Salir</li>
						</ul>
					</div>
					<div class="list-unstyled list-inline-item ">
						<h5>Redes Sociales</h5>
						<ul class="social-network-list">
							<li class="social-network-list-item"><a href="#"><img src="..\..\static\icons\footerSocialMedia\instagram-logo.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Instagram"></a></li>
							<li class="social-network-list-item"><a href="#"><img src="..\..\static\icons\footerSocialMedia\at.png" width="30 px" height="30 px" class="d-inline-block align-top" alt="Instagram"></a></li>
						</ul>
					</div>
				</div>
				<!-- Copyright -->
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
					<a href="#"> Plumerillo 2019</a>
				</div>
				<!-- ./ Copyright -->
			</div>
		</section>
	</footer>
</body>
</html>