<!DOCTYPE html>
<html lang= "es">
<head>
	<meta charset="UTF-8">
	<title>Me doy maña</title>

	<!-- CDN de Boostrap 4.0 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Hoja de estilos personalizada -->
  <link rel="stylesheet" href="..\static\css\styles.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-light nav-bar-own">
			<a class="navbar-brand" href="#">
       <img src="..\..\static\img\logo.jpeg" width="30 px" height="30 px" class="d-inline-block align-top" alt="logo"></a>

       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="email" placeholder="Correo electrónico" aria-label="Correo electrónico">
        <input class="form-control mr-sm-2" type="password" placeholder="Contraseña" aria-label="Contraseña">
        <a class="btn btn-transparent text-white my-2 my-sm-0 btn-nav" href="/publicaciones/4">Iniciar Sesión</a>
      </form>

      <div class="container" align="right">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">¿Olvidaste tu contraseña?</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">

    <h1>Crear una cuenta</h1>

    <section class="row">
      <article class="col-xl-12 col-sm-4 col-md-6 col-lg-12">
        <div class="row">
          <div class="col-md-6" >
            <iframe width="450" height="340" src="https://www.youtube.com/embed/qFxlPqwh_HI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <div class="col-md-6" >
            <form >
              <div class="form-row">
                <div class="form-group" align="left">
                  <input type="text" class="form-control form-element-color" id="inputname" placeholder="Nombre">
                </div>

                <div class="form-group" align="right">
                  <input type="text" class="form-control form-element-color" id="inputapellido" placeholder="Apellido">
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control form-element-color" id="inputdoc" placeholder="Documento de identidad">
              </div>

              <div class="form-group">
                <input type="email" class="form-control form-element-color" id="inputcorreo" placeholder="Correo electrónico">
              </div>

              <div class="form-group">
                <input type="cel" class="form-control form-element-color" id="inputcel" placeholder="Celular">
              </div>

              <div class="form-group">
                <input type="password" class="form-control form-element-color" id="inputcont" placeholder="Contraseña">
              </div>

              <div class="form-group">
                <input type="password" class="form-control form-element-color" id="inputrepcont" placeholder="Repetir contraseña">
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label for="inputfechnac">Fecha de nacimiento</label>
                  <input type="date" class="form-control form-element-color" name="fecha">
                </div>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck"><p><a href="#">Acepto las condiciones y políticas del servicio</a></p></label>
                </div>
              </div>

              <button class="btn btn-transparent text-white my-2 my-sm-0 form-element-color type="Registrarse">Registrarse</button>
            </form>
          </div>
        </div>


      </article>
    </section>
  </main>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>