.nav-bar-own{
	background-color: #ffce0a;
	min-height: 80px;
}

.btn-style{
	background-color: #e6ae20;
	border-style: solid;
}

.form-element-color{
	background-color: #01abaa;
	color: black;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.carousel-img-size{
  width: 100%; 
  max-width: 600px !important; 
}

.space-between-elements{
  padding: 20px 20px 20px 20px;
  justify-content: space-around;
 
}

.social-network-list {
  list-style: none;
  display: inline;
}

.social-network-list-item{
  display: inline-block;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}



